body{
    background-color: darkgray;
}

h1,h2{
    font-family: Verdana;
}

h1{
    color: rgb(0, 255, 255);;
}

h2{
    color: aliceblue;
}

.text1{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 90px;
    font-size: 30px;
}

.kepek{
    height: 350px;
    border-radius: 6px;
    padding: 70px;
}

hr{
    border: 3px solid white;
    border-radius: 5px;
    width: 750px;
}